include README.md
graft slab/experiments/
prune slab/data/mit_kemar_normal_pinna.sofa
prune slab/data/KEMAR_interaural_level_spectrum.npy
prune slab/data/aachen/
prune slab/data/ari/
prune slab/data/cipic/
prune slab/experiments/__pycache__/
